/build/
/bin/
/lib/
/dist/
/test-output/
/temp*
/.settings/
/nbproject/private/
/target/
.classpath
.project
.checkstyle
*.class
*.jar
*.war
*.ear
/*.dic
/*.mvn/

**/TempTest.java
/.idea/
/threetenbp.iml
time/gwt-unitCache/*
time/war/*
time/www-test/*
time/src/main/super/*
